<head>
  <meta name="author" content="Matthew Kern" />

  <!-- maybe renaming the file to main.css should fix css loading problem on github -->
  <!--<link rel="stylesheet" href="{{ "/public/assets/main.css" | relative_url }}"/>-->
  <!--<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">-->
  <!--<link rel="stylesheet" href="https://mjkern.github.io/NASAnavigator/assets/css/main.css">-->
  <!-- final tweak -->
  <link rel="stylesheet" href="{{ "css/styles.css" | relative_url }}">

	<!-- Compiled and minified CSS -->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

	<!-- Compiled and minified JavaScript for Materialize and JQuery-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <title>{{ site.title }}</title>
</head>
